@import "@less/vars.less";

.stage-view.main {
  .pad {
    padding: @padding-container;
  }
  .content {
    display: flex;
    flex-direction: column; 
    justify-content: center;

    h2 {
      text-align: center;
      margin-bottom: 24px;
      font-weight: 200;
      text-transform: uppercase;
    }

    .message {
      border-radius: @base-border-radius;
      padding: @padding-default;
      background-color: color-mix(in srgb, var(--accent-color) 15%, var(--base-color) 40%);
      cursor: pointer;
    }


    .items {
      list-style-type: none;
      padding: 0;
      margin: 0;
      border-radius: @base-border-radius;
      // border: 1px solid rgba(0,0,0,0.05);
      > li {
        background-color: var(--overlay-bg-color);
        margin: 2px;
        padding: @padding-default;
        border: 1px solid rgba(0,0,0,0.05);
        border-radius: @base-border-radius;
        // transition: background-color 200ms ease;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
          background-color: var(--active-bg-color);
        }

        .type {
          background-color: rgba(0,0,0,0.1);
          padding: @padding-tiny @padding-default;
          font-size: 0.8rem;
          border-radius: @base-border-radius;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }

    .fab {
      /*
      position: fixed;
      width: 40px;
      height: 40px;
      bottom: 25px;
      right: 25px;
      border-radius: 50%;
      */
    }
  }

  .main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 350px;

    > img {
      animation-duration: 10000ms;
      animation-delay: 1000ms;
      border-radius: 50%;
      padding: 16px;
      cursor: pointer;
    }
  }
  
}

.actionbar.main > .logo {
  // width: 24px;
  margin: 0 8px 0 16px;
}

.block {
  display: flex;
  justify-content: center;
}

.text-small {
  font-size: 0.85rem;
}

@media only screen and (min-width: @screen-md) {
  .stage-view.main {
    .content {
      .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        > li {
          // align-items: flex-start;
          width: 30%;
          height: 80px;
        }
      }
    }
  }
}