<div class="stage-view home" data-view="home">
  <div class="content">
    <section>
      <h3>Home View</h3>
      <a class="button inline info" href="#/about">About</a>
      <a class="button inline" href="#/about">About</a>
    </section>
  </div>
  <div class="footer alt-bg">
    <span class="text-x-small">Made using stage.js</span>
  </div>
  <script>
    (function() {
      var Stage = require("stage");
      Stage.defineView("home", function(AppStage, viewUi) {
        return {
          initialize: function(opts) {
          }
        };
      });

    })();
  </script>
</div>
