@alert-color: #9E5B5A;
@error-color: #D66B55;
@success-color: #94B75F;
@warn-color: #F79204;
@info-color: #007BD3;
@invalid-color: #9B2D2D;


@base-color: #2F3842;
@bg-color: lighten(@base-color, 5%);
@alt-bg-color: darken(#374761, 7%);
@text-color: #B1C1DA;
@alt-text-color: @text-color;
@selected-bg-color: #5C9BD6;
@selected-bg-color-alt: @selected-bg-color;
@selected-text-color: #fff; // #fafafa;
@active-bg-color: darken(@alt-bg-color, 5%);
@active-text-color: @text-color;
@primary-action-color: #FB387D; // #FDB300; icon's yellow
@primary-text-color: #fff;
@secondary-action-color: #405371;
@secondary-text-color: #fff;
@toolbar-bg-color: darken(@alt-bg-color, 3%);
@toolbar-text-color: @text-color;


.info {
  background-color: @info-color;
  color: #fff;
}
.info-text {
  color: darken(@info-color, 30%);
}
.success {
  background-color: @success-color;
  color: #fff;
}
.success-text {
  color: @success-color;
}
.error {
  background-color: @error-color;
  color: #fff;
}
.error-text {
  color: @error-color;
}
.warn {
  background-color: @warn-color;
  color: #fff;
}
.warn-text {
  color: @warn-color;
}
.indicate {
  background-color: @error-color;
}
.indicate-alt {
  color: @error-color;
}


html, body {
  background-color: @base-color;
  color: @text-color;
}

a {
  color: @text-color;
  text-decoration: none;
}

img {
  border: none;
}

.stage-view {
  background-color: @bg-color;
}


#loading {
  background-color: darken(@bg-color, 15%);
  > .slider {
    background-color: @selected-bg-color-alt;
  }
}