@import "../../node_modules/stage/src/stage.less";
@import "font/icons/style.less";
@import "less/common.less";


html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif, sans;
  font-weight: 400;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
}

.stage-viewport {
  background-color: @base-color;
}


.button, button, input[type=button] {
  text-transform: uppercase;
}

.alt-bg {
  background-color: @alt-bg-color;
  color: @alt-text-color;
}

.selected {
  background-color: @selected-bg-color !important;
  color: @selected-text-color !important;
}

.stage-view {
  background-color: @bg-color;
  color: @text-color;
  // border: 3px solid rgba(0,0,0,0.15);

  &.alt-bg {
    .alt-bg;
  }

  h2 {
    padding-bottom: 10px;
    // border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-top: 0;
    font-weight: bold;
    text-transform: uppercase;
  }

  > .content {
    padding: 20px 30px;
  }
}


@import "components/form/style.less";
@import "components/actionbar.less";
.actionbar-container {
  > div.actionbar {
    /*
    font-weight: bold;

    width: 94%;
    margin: 0 3%;
    */
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
}


/* -------------------------------------- Additional Modules ------------------------------------ */
// @import "modules/sell/style.less";



/* ---------------------------------------- Color Theme ----------------------------------------- */
@import "less/color-theme.less";