@import "@less/vars.less";

.stage-view.about {
  background-color: var(--base-color);
  color: var(--text-color);
  padding-top: 0px;

  .content {
    // padding-top: 80px;
    .logo {
      // width: 130px;
      margin: 2% auto;
      display: block;
    }
    h3 {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 100;
      font-size: 1.1rem;
    }

    .message {
      position: relative;
      border-radius: @base-border-radius;
      padding: @padding-default;
      background-color: color-mix(in srgb, var(--accent-color) 15%, var(--base-color) 40%);
    }
  }
}